@font-face {
  font-family: "OpenSans-Light";
  src: url("assets/fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), 
    url("assets/fonts/OpenSans-Light/OpenSans-Light.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("assets/fonts/OpenSans-LightItalic/OpenSans-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/OpenSans-LightItalic/OpenSans-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("assets/fonts/OpenSans-Italic/OpenSans-Italic.woff") format("woff"),
    url("assets/fonts/OpenSans-Italic/OpenSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("assets/fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
    url("assets/fonts/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("assets/fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff") format("woff"),
    url("assets/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff") format("woff"),
    url("assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("assets/fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.woff") format("woff"),
    url("assets/fonts/OpenSans-SemiBoldItalic/OpenSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTSerif-Bold";
  src: url("assets/fonts/PTSerif-Bold/PTSerif-Bold.woff") format("woff"),
    url("assets/fonts/PTSerif-Bold/PTSerif-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSerif-BoldItalic";
  src: url("assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff") format("woff"), 
    url("assets/fonts/PTSerif-BoldItalic/PTSerif-BoldItalic.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSerif-Italic";
  src: url("assets/fonts/PTSerif-Italic/PTSerif-Italic.woff") format("woff"),
    url("assets/fonts/PTSerif-Italic/PTSerif-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,*:focus,.btn,.btn:focus {
    outline: 0!important;
    text-decoration: none
}
a,button,input {
    outline: 0;
    border: 0;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
    text-decoration: none;
    outline: 0
}
body {
    background: #fff;
    color: #000;
    font-size: 25px;
    line-height: 1.2;
    font-family: "OpenSans-Light";
    background: url(assets/images/body-bg.jpg)
}
img {
    max-width: 100%;
    height: auto
}
.ulc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}
.container {
  max-width: 1180px;
  width: 100%;
}
/* .container-sm:before,
.container-sm:after,{
  content: "";
  display: table;
  clear: both;
}
.container-sm {
  max-width: 1180px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */
.hide-md {
    display: block!important
}
.show-md {
    display: none!important
}

.hide-sm {
    display: block!important
}
.show-sm {
    display: none!important
}
.hide-xs {
    display: block!important
}
.show-xs {
    display: none!important
}
p { margin-bottom: 28px }
a { word-wrap: break-word }
strong{ font-weight: normal }
.plr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important
}
.plr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important
}
.plr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
.plr-5{
    padding-left: 5px!important;
    padding-right: 5px!important
}
.fl-page-bdy-controller{
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1)
}
h1 {
    font-size: 75px
}
h2 {
    font-size: 40px
}
h3 {
    font-size: 32px
}
h4 {
    font-size: 30px
}
h5 {
    font-size: 26px    
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    line-height: 1.2;  
    font-family: "PTSerif-Bold";
} 




