.fl-loophole-sec-wrp{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	padding: 30px 0;
	position: relative;
}
.fl-loophole-head h2{
	margin: 0;
	text-align: center;
	color: #fff;
	font-family: "PTSerif-Bold";
	padding-bottom: 35px;
}
.top-wave-img{
    position: absolute;
    left: 0;
    right: 0;
    top: -26px;
    z-index: 1;
    height: 27px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}
.btm-wave-img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    height: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}
span.fl-txt-line-bg {
    font-family: "OpenSans-Bold";
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: 100% 100%!important;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #000;
}
.fl-loophole-dsc{
	color: #fff;
}
.fl-loophole-dsc p:nth-child(6),
.fl-loophole-dsc p:nth-child(5),
.fl-loophole-dsc p:nth-child(4){
    margin-bottom: -2px;
}



.fl-anyone-use-sec-wrp{
	padding-top: 60px;
}
.fl-anyone-use-head{
	text-align: center;
}
.fl-anyone-use-head h2{
	margin: 0;
	font-family: "OpenSans-Bold";
	padding-bottom: 25px;
}
.fl-anyone-use-head h2 span{
	display:block;
	color: #135d9d;
}

.fl-needs-trick-sec-wrp .fl-anyone-use-head h2 span{
    display:inline-block;
    vertical-align: baseline;
    color: #135d9d;
}
.health-risks-grd-wrp{
	padding-top: 40px;
	position: relative;
}
.health-risks-grd-wrp ul{
	text-align: center;
}
.health-risks-grd-wrp li {
    width: 100%;
    max-width: 368px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
}
.health-risks-img {
    width: 365px;
    height: 305px;
    margin: 0 auto;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
}
.health-risks-dsc h5{
    margin: 0;
    font-family: "OpenSans-SemiBold";
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    line-height: 1.3;
}
span.health-caircle-lft {
    position: absolute;
    left: -210px;
    bottom: 150px;
    max-width: 319px;
    width: 100%;
    min-height: 319px;
    z-index: 1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
span.health-caircle-rgt {
    position: absolute;
    right: -135px;
    bottom: 150px;
    max-width: 319px;
    width: 100%;
    min-height: 319px;
    z-index: 1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-exposed-wrp{
	max-width: 945px;
	width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
	text-align: center;
	padding: 25px 40px 28px;
	margin-top: 10px;
	margin-bottom: 40px;
	position: relative;
}
.fl-exposed-wrp h5{
	margin: 0;
	color: #fff;
	font-family: "OpenSans-Bold";
}
span.fl-exposed-rgt-img {
    position: absolute;
    right: -60px;
    top: -45px;
    max-width: 189px;
    width: 100%;
    min-height: 216px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

.fl-anyone-two-part-wrp{
    position: relative;
    height: 290px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.fl-anyone-two-part-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 58%;
}
.fl-anyone-two-part-dsc {
    max-width: 800px;
    width: 100%;
    border: 5px solid #000;
    position: absolute;
    left: 0;
    top: 35px;
    bottom: 40px;
    z-index: -1;
    padding-right: 250px;
    padding-left: 20px;
    padding-top: 25px;
}
.fl-anyone-two-part-head{
    text-align: center;
    padding-bottom: 15px;
}
.fl-anyone-two-part-head h2{
    margin: 0;
    margin-bottom: 5px;
    font-family: "PTSerif-BoldItalic";
}
.fl-anyone-two-part-cir {
    position: absolute;
    right: -85px;
    top: -100px;
    max-width: 320px;
    width: 100%;
    height: 320px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}


.fl-every-single-block {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    border: 10px;
    overflow: hidden;
}
.fl-every-single-head {
    text-align: center;
    padding: 25px 30px 10px;
    background: #135d9d;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin-bottom: 60px;
    margin-left: -15px;
    margin-right: -15px;
}
.fl-every-single-head h2{
	color: #fff;
	font-family: "OpenSans-Bold";
}
.fl-single-head-bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    z-index: 1;
    height: 15px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}
.fl-every-single-tp-wrp{
	position: relative;
}
.fl-every-single-tp-img {
    position: absolute;
    left: -110px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 619px;
    width: 100%;
    height: 463px;
}
.fl-every-single-tp-img img{
    display: none;
}
.fl-every-single-tp-dsc {
    max-width: 540px;
    width: 100%;
    float: right;
    padding-right: 10px;
}
.fl-every-single-car{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 30px;
}
.fl-every-single-power{
	max-width:930px;
	width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important; 
	text-align: center;
	padding: 20px 40px 5px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
}
.fl-every-single-power h5{
	margin: 0;
	color: #fff;
	font-family: "OpenSans-SemiBoldItalic";
	margin-bottom: 30px;
}
span.fl-every-single-power-icon{
	position: absolute;
	right: 0;
	top: -220px;
	max-width: 361px;
	width: 100%;
	height: 361px;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}
.fl-every-single-floor-dsc{
	padding: 0 10px;
}
.fl-every-single-floor-dsc p{
	font-size: 24px;
}
.fl-every-single-btm-dsc{
	padding-right: 10px;
}
.fl-every-single-btm-img-1{
	padding-top: 45px;
}


.fl-needs-trick-sec-wrp{
	padding-bottom: 20px;
}
.fl-every-single-btm-wrp{
	position: relative;
}
.fl-every-single-btm-img-2 {
    position: absolute;
    right: -230px;
    bottom: -55px;
    z-index: 1;
    width: 1066px;
    height: 741px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-every-single-btm-img-2 img{
    display: none;
}
.fl-every-single-btm-dsc-2 {
    max-width: 550px;
    width: 100%;
    padding-left: 10px;
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
}
.fl-needs-trick-sec-wrp {
    padding-top: 45px;
    padding-bottom: 40px;
}
.fl-needs-trick-sec-wrp .fl-anyone-use-head{
	padding-bottom: 45px;
}
.fl-needs-trick-dsc-2{
	padding-top: 10px;
}
.fl-needs-trick-dsc-3{
	padding-top: 10px;
}
.fl-needs-trick-dsc-4 {
    padding-top: 20px;
    padding-right: 10px;
}


.fl-anything-about-sec-wrp{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	padding-top: 30px;
	padding-bottom: 20px;
	position: relative;
}
.fl-anything-about-head h2{
	color: #fff;
	text-align: center;
	font-family: "PTSerif-Bold";
	margin-bottom: 35px;
}
.fl-anything-about-dsc{
	color: #fff;
}


.fl-happened-sec-wrp{
	padding-top: 70px;
	padding-bottom: 50px;
}
.fl-happened-overflow{
    overflow: hidden;
    position: relative;
}
.fl-happened-bdr{
	border: 4px solid#000;
}
.fl-happened-bdr > span {
    position: absolute;
    left: -50px;
    top: 10px;
    max-width: 275px;
    width: 100%;
    height: 148px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-happened-head{
    padding: 35px 10px 25px;
}
.fl-happened-head h2{
	margin: 0;
	font-family: "PTSerif-Bold";
	text-align: center;
	padding-bottom: 20px;
}
.fl-happened-head h2 span {
    color: #135d9d;
    display: block;
}
.fl-happened-sec-wrp .fl-every-single-btm-dsc-2 {
    max-width: 545px;
    width: 100%;
    padding-left: 20px;
}

.fl-we-believe-block {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.fl-we-believe-head{
	border-radius: 5px 5px 0 0;
	text-align: center;
	padding: 30px 10px;
	position: relative;
}
.fl-we-believe-head h2{
	color: #fff;
	margin: 0;
	font-family: "PTSerif-Bold";
}
.fl-we-believe-head .btm-wave-img{
	height: 16px;
}
.fl-we-believe-wrp{
	position: relative;
}
.fl-we-believe-img {
    position: absolute;
    left: -100px;
    bottom: 0;
    top: 0;
    max-width: 854px;
    width: 100%;
    height: 569px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-we-believe-img img{
    display: none;
}
.fl-we-believe-dsc{
	max-width: 560px;
	width: 100%;
	float: right;
	padding-right: 40px;
	padding-top: 40px;
}

.fl-spark-sec-wrp {
    padding-top: 40px;
    padding-bottom: 30px;
}
.fl-spark-sec-wrp .fl-anyone-use-head{
	padding-bottom: 35px;
}

.fl-short-time-sec-wrp{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
	padding-top: 40px;
	padding-bottom: 30px;
}
.fl-short-time-head{
	padding: 0 20px;
}
.fl-short-time-head h2{
	color: #fff;
	text-align: center;
	font-family: "PTSerif-Bold";
	margin-bottom: 40px;
}
.fl-short-time-video{
	text-align: center;
	padding-bottom: 35px;
}
.fl-short-time-dsc{
	color: #fff;
}
.fl-short-time-dsc h5 span.fl-txt-line-bg{
    padding: 12px 40px 12px 18px;
    margin-left: 10px;
}
.fl-every-single-btm-img-3{
    position: absolute;
    right: -230px;
    bottom: -20px;
    z-index: 1;
    width: 852px;
    height: 573px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-every-single-btm-img-3 img{
    display: none;
}

@media(max-width: 1599px){
    span.health-caircle-lft {
        left: -100px;
        bottom: 100px;
        max-width: 250px;
        width: 100%;
        min-height: 250px;
    }
    span.health-caircle-rgt {
        right: -100px;
        bottom: 100px;
        max-width: 250px;
        width: 100%;
        min-height: 250px;
    }
    
}


@media(max-width: 1399px){
    span.health-caircle-lft {
        left: -15px;
        bottom: 100px;
        max-width: 200px;
        width: 100%;
        min-height: 200px;
    }
    span.health-caircle-rgt {
        right: -15px;
        bottom: 100px;
        max-width: 200px;
        width: 100%;
        min-height: 200px;
    }
    .fl-anyone-two-part-cir {
        right: -15px;
        top: -100px;
        max-width: 250px;
        width: 100%;
        height: 250px;
    }
    
}
@media(max-width: 1199px){ 
    .health-risks-grd-wrp li {
        width: 100%;
        max-width: 380px;
    }
    span.fl-every-single-power-icon,
    .fl-anyone-two-part-cir,
    span.fl-exposed-rgt-img,
    span.health-caircle-rgt,
    span.health-caircle-lft{
       display: none;
    }
    .fl-anyone-two-part-wrp {
        height: auto;
        border: 5px solid #000;
    }
    .fl-anyone-two-part-img {
        position: static;
        width: 100%;
        text-align: right;
    }
    .fl-anyone-two-part-dsc {
        max-width: 100%;
        width: 100%;
        border: none;
        position: static;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 25px;
    }
    .fl-every-single-tp-img {
        position: static;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        background: transparent !important;
        text-align: center;

    }
    .fl-every-single-tp-dsc {
        max-width: 100%;
        width: 100%;
        float: none;
        padding-right: 0;
    }
    .fl-every-single-tp-img img{
        display: inline-block;
        vertical-align: baseline;
    }
    .fl-every-single-middle-dsc.plr-10{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .fl-every-single-btm-dsc p br{
        display: none;
    }
    .fl-every-single-btm-img-1 {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }
    .fl-every-single-btm-img-2 {
        position: static;
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        background: transparent !important;
    }
    .fl-every-single-btm-img-2 img{
        display: inline-block;
        vertical-align: baseline;
    }
    .fl-every-single-btm-dsc-2 {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
    .fl-needs-trick-img{
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-happened-sec-wrp .fl-every-single-btm-dsc-2 {
        max-width: 100%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .fl-we-believe-img {
        position: static;
        max-width: 100%;
        width: 100%;
        height: 100%;
        text-align: center;
        background: transparent !important;
        padding-top: 10px;
    }
    .fl-we-believe-img img{
        display: inline-block;
        vertical-align: baseline;
        width: 100%;
    }
    .fl-we-believe-dsc {
        max-width: 100%;
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 40px;
    }
    .fl-spark-img{
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-spark-dsc p br{
        display: none;
    }
    .fl-every-single-btm-dsc p span br{
        display: none;
    }
    .fl-every-single-btm-img-3 {
        position: static;
        width: 100%;
        height: auto;
        background:transparent !important;
        margin-bottom: 30px;
    }
    .fl-every-single-btm-img-3 img{
        display: inline-block;
        vertical-align: baseline;
        width: 100%;
    }
    .fl-needs-trick-sec-wrp .fl-anyone-use-head h2 br{
        display: none;
    }
    .fl-happened-head h2 span,
    .fl-anyone-use-head h2 span{
        display: inline;
    }
    .fl-anyone-use-head h2 br{
        display: none;
    }
    .fl-anything-about-head h2 br,
    .health-risks-dsc h5 br{
        display: none;
    }

    
    
}



@media(max-width: 991px){
    .health-risks-grd-wrp li {
        width: 100%;
        max-width: 350px;
    }
    .fl-every-single-head {
        padding: 25px 30px 10px;
    }
    .fl-anything-about-head h2 br{
        display: none;
    }

}


@media(max-width: 767px){
    .fl-loophole-sec-wrp{
        padding-bottom: 10px;
    }
    .health-risks-grd-wrp li {
        width: 100%;
        max-width: 370px;
        margin-bottom: 30px;
    }
    .health-risks-img{
        width: 100%;
    }
    .fl-anyone-use-sec-wrp {
        padding-top: 50px;
    }
    .health-risks-grd-wrp {
        padding-top: 30px;
    }
    .fl-exposed-wrp {
        padding: 25px 30px 28px;
    }
    .fl-every-single-power {
        padding: 20px 30px 5px;
    }
    .fl-every-single-head {
        padding: 25px 20px 10px;
    }

}



@media(max-width: 639px){

}



@media(max-width: 575px){
    .fl-anyone-use-sec-wrp {
        padding-top: 40px;
    }
    .fl-exposed-wrp {
        padding: 25px 20px 28px;
    }
    .fl-every-single-power {
        padding: 20px 20px 5px;
    }
    .fl-every-single-head {
        padding: 25px 10px 10px;
    }
}


@media(max-width: 479px){
    .fl-exposed-wrp {
        padding: 25px 10px 28px;
    }
    .fl-every-single-power {
        padding: 20px 10px 5px;
    }

}



@media(max-width: 359px){

}