


header.fl-hdr{
	background: #fff000;
	padding: 5px 0 12px;
}


header.fl-hdr span{
	display: inline-block;
	vertical-align: baseline;
	font-family: "PTSerif-Italic";
	font-size: 20px;
}
header.fl-hdr strong{
	font-family: "PTSerif-Bold";
	font-size: 24px;
}



 
.fl-special-offer-sec{
    position: relative;
    z-index: 1
}
.fl-special-offer-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3;
    padding:110px 50px 120px 0;
}
.special-offer-dsc h1 {
    margin-bottom:16px;
    color:#fff;
}
.special-offer-dsc h3 {
	font-family: "OpenSans-Bold";
    margin-bottom: 10px;
    color: #fff000;
    line-height: 53px;
    margin-bottom: 30px;
}
.special-offer-dsc h3 span{
	font-family: "MyriadPro-Regular";;
    color: #fff;
}
.special-offer-dsc strong{
	font-family: "OpenSans-SemiBold";
	font-size: 28px;
    color: #fff000;
    margin-bottom: 10px;
}
.fl-john-ulzheimer-sec{
	padding: 45px 0 450px;
}
.fl-john-ulzheimer-sec h5 span.fl-txt-line-bg {
	display: inline-block;
	vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right:48px;
    line-height: 55px;
}
.fl-john-ulzheimer-sec h5 img{
    padding-right: 15px;
}
.fl-john-ulzheimer-sec p{
	font-family: "OpenSans-LightItalic";
}

.fl-john-ulzheimer-img{
	position: relative;
	padding-top: 12px;
}





















