header.fl-hdr{
	background: #fff000;
	padding: 5px 0 12px;
}  
header.fl-hdr span{
	display: inline-block;
	vertical-align: baseline;
	font-family: "PTSerif-Italic";
	font-size: 20px;
}
header.fl-hdr strong{
	font-family: "PTSerif-Bold";
	font-size: 24px;
}
.fl-special-offer-sec{
    position: relative;
    z-index: 1
}
.fl-special-offer-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3;
    padding:100px 50px 120px 0;
}
.special-offer-dsc h1 {
    margin-bottom:18px;
    color:#fff;
    text-shadow: 3px 2px 3px rgba(47, 46, 46, 0.2);
}
.special-offer-dsc h3 {
	font-family: "OpenSans-Bold";
    color: #fff000;
    line-height: 53px;
    margin-bottom: 30px;
}
.special-offer-dsc h3 span{
	font-family: "MyriadPro-Regular";;
    color: #fff;
}
.special-offer-dsc strong{
	font-family: "OpenSans-SemiBold";
	font-size: 28px;
    color: #fff000;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 10px;
}
.fl-john-ulzheimer-sec{
	padding: 45px 0 45px;
}
.fl-jay-hannon-btm-des h5 span.fl-txt-line-bg,
.fl-john-ulzheimer-sec h5 span.fl-txt-line-bg {
	display: inline-block;
	vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right:48px;
    line-height: 55px;
}
.fl-john-ulzheimer-sec h5 img{
    padding-right: 15px;
}
.fl-john-ulzheimer-sec p{
	font-family: "OpenSans-LightItalic";
}
.fl-john-ulzheimer-sec p span{
	font-family: "OpenSans-BoldItalic";
}
.fl-john-ulzheimer-img{
	position: relative;
	padding-top: 12px;
}
.fl-john-ulzheimer-img > i:nth-child(1){
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: 219px;
}
.fl-john-ulzheimer-img > i:nth-child(2){
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	max-width: 219px;
	
}
.fl-john-ulzheimer-img > i > img{
	width: 100%;
	
}
.fl-john-ulzheimer-img > img{
	position: relative;
	z-index: 2

}
.fl-jay-hannon-innr{
	background: #fff;
	padding: 0 30px 40px;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 5px 14px -8px rgb(180,179,179);
	-ms-box-shadow: 0 5px 14px -8px rgb(180,179,179);
	box-shadow: 0 5px 14px -8px rgb(180,179,179);
}
.fl-jay-hannon-hdr{
	font-family: "PTSerif-BoldItalic";
	padding: 30px 35px 40px;
	margin-bottom: 38px;
	position: relative;
	margin-left: -30px;
	margin-right: -30px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center bottom 1px !important;
}
.fl-jay-hannon-hdr span.btm-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    height: 19px;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
}
.fl-jay-hannon-hdr h2{
	font-family: "PTSerif-BoldItalic";
	color: #fff;
	margin-bottom: 0;
}
.fl-jay-hannon-top-des p{
	font-family: "OpenSans-LightItalic";
}
.fl-jay-hannon-top-des p span{
	font-family: "OpenSans-BoldItalic";
}
.fl-jay-hannon-btm-des{
	padding-top: 10px;
}
.fl-prisoner-sec{
	padding: 40px 0;
}
.fl-prisoner-head {
    margin-bottom: 35px;
}
.fl-prisoner-head h2{
	margin-bottom: 5px;
	color:#135d9d;
}
.fl-prisoner-two-part-wrp .fl-prisoner-img{
	width: 48.70%;
	float: left;
	padding-top: 22px;
}
.fl-prisoner-two-part-wrp .fl-prisoner-des{
	width:  51.30%;
	float: left;
	padding-left: 30px;
}
.fl-prisoner-two-part-wrp li:nth-child(2n+1) .fl-prisoner-img{
	float: right
}
.fl-prisoner-two-part-wrp li:nth-child(2n+1) .fl-prisoner-des{
	padding-right: 30px;
	padding-left: 0;
}
.fl-prisoner-two-part-wrp li{
	margin-bottom: 10px;
}
.fl-prisoner-two-part-wrp .fl-prisoner-des p:last-child{
	margin-bottom: 0;
}
.fl-bad-credit-sec{
	padding-top: 50px;
	padding-bottom: 35px;
	color: #fff;
	position: relative;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}
.fl-bad-credit-head h2{
	margin-bottom: 30px;
}
.bad-credit-top-wave {
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
    z-index: 1;
    height: 27px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}
.bad-credit-btm-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    height: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}
.fl-rent-borrow-sec{
	padding: 50px 0 45px;
}
.fl-rent-borrow-head{
    margin-bottom: 30px;
}
.fl-rent-borrow-head h2{
	margin-bottom: 5px;
}
.fl-rent-borrow-head h2 span{
	color:#135d9d;
}
.fl-rent-borrow-block:not(:last-child){
	padding-bottom: 30px;
}
.fl-legal-credit-innr,
.fl-upside-down-innr,
.fl-good-news-innr {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
	-webkit-box-shadow: 0 5px 14px -8px rgb(180,179,179);
	-ms-box-shadow: 0 5px 14px -8px rgb(180,179,179);
	box-shadow: 0 5px 14px -8px rgb(180,179,179);
}
.fl-legal-credit-head,
.fl-upside-down-head,
.fl-good-news-head{
	color: #fff;
	padding: 30px 20px 25px;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
	position: relative
}
.legal-credit-btm-wave,
.upside-down-btm-wave,
.good-news-btm-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    z-index: 1;
    height: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}
.fl-good-news-img{
	width: 48.7%;
	min-height: 400px;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
}
.fl-good-news-des{
	width: 51.3%;
	padding: 35px 30px 20px;
}
.fl-upside-down-img img,
.fl-good-news-img img{
	display: none;
}
.fl-upside-down-des p:last-child,
.fl-good-news-des p:last-child{
	margin-bottom: 0;
}
.fl-bank-darling-sec{
	padding: 50px 0 55px;
}
.fl-bank-darling-head{
    margin-bottom: 30px;
}
.fl-bank-darling-head h2{
	margin-bottom: 5px;
}
.fl-bank-darling-head h2 span{
	color: #135d9d;
	display: block;
}
.fl-bank-darling-top-des{
	position: relative
}
.fl-bank-darling-top-des i{
	position: absolute;
	max-width: 416px;
	right: 0;
	top: 0;
}
.fl-bank-darling-top-des i >img{
	width: 100%;
}
.fl-bank-darling-two-part{
	padding-bottom: 60px;
}
.fl-admin-intro-lft-img,
.fl-bank-darling-lft-img{
	width: 48.7%;
}
.fl-admin-intro-rgt-des,
.fl-bank-darling-rgt-des{
	width: 51.3%;
	padding-left: 30px;
}
.fl-admin-intro-top-des p:last-child,
.fl-admin-intro-rgt-des p:last-child,
.fl-bank-darling-rgt-des p:last-child{
	margin-bottom: 0;
}
.fl-admin-intro-sec{
	position: relative;
	color: #fff;
	padding: 55px 0;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
}
.fl-admin-intro-head h2{
	margin-bottom: 33px;
}
.fl-admin-intro-rgt-des{
	width: 51.3%;
	padding-left: 0;
	padding-right: 30px;
}
.fl-admin-intro-q-mark {
	padding: 22px 0 45px;
}
.fl-admin-intro-q-mark h2{
	margin-bottom: 5px;
	color: #ffea34;
}
.admin-intro-top-wave{
    position: absolute;
    left: 0;
    right: 0;
    top: -7px;
    z-index: 1;
    height: 27px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}
.admin-intro-btm-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: 1;
    height: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}
.fl-earn-money-sec{
	padding: 40px 0;
}
.fl-earn-money-head {
    margin-bottom: 35px;
}
.fl-earn-money-head h2{
	margin-bottom: 5px;
	color:#135d9d;
}
.fl-earn-money-two-part-wrp .fl-earn-money-img{
	width: 48.70%;
	float: left
}
.fl-earn-money-two-part-wrp .fl-earn-money-des{
	width:  51.30%;
	float: left;
	padding-left: 30px;
}
.fl-earn-money-two-part-wrp li{
	margin-bottom: 5px;
}
.fl-earn-money-two-part-wrp li:nth-child(2n+1) .fl-earn-money-img{
	float: right;
}
.fl-earn-money-two-part-wrp li:nth-child(2n+1) .fl-earn-money-des{
	padding-right: 30px;
	padding-left: 0;
}
.fl-earn-money-two-part-wrp .fl-earn-money-des p:last-child{
	margin-bottom: 0;
}
.fl-earn-money-head .fl-earn-money-head-innr{
	display: inline-block;
	padding: 38px 50px 33px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.fl-earn-money-head h4{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 0;
	font-family: "OpenSans-Bold";
}
.fl-upside-down-des-con{
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
}
.fl-upside-down-des{
	max-width: 588px;
	padding: 37px 30px 25px;
}
.upside-down-xs{
	display: none;
}
.fl-advantage-sec{
	padding: 40px 0;
}
.fl-advantage-head {
    margin-bottom: 35px;
}
.fl-advantage-head h2{
	margin-bottom: 5px;
	line-height: 1.5;
}
.fl-advantage-head h2 span{
	color:#135d9d;
}
.fl-advantage-two-part-wrp .fl-advantage-img{
	width: 48.85%;
	float: left
}
.fl-advantage-two-part-wrp .fl-advantage-des{
	width:  51.15%;
	float: left;
	padding-left: 30px;
	padding-right: 66px;
}
.fl-advantage-two-part-wrp li{
	margin-bottom: 15px;
}
.fl-advantage-two-part-wrp li:nth-child(2n+2) .fl-advantage-img{
	float: right
}
.fl-advantage-two-part-wrp li:nth-child(2n+2) .fl-advantage-des{
	padding-right: 30px;
	padding-left: 66px;
}
.fl-advantage-two-part-wrp .fl-advantage-des p:last-child{
	margin-bottom: 0;
}
.fl-advantage-two-part-wrp li:nth-child(1) .fl-advantage-img{
	padding-top: 42px;
}
.fl-advantage-two-part-wrp li:nth-child(2) .fl-advantage-img{
	padding-top: 60px;
}
.fl-advantage-two-part-wrp li:nth-child(3) .fl-advantage-img{
	padding-top: 76px;
}
.fl-future-danger-sec,
.fl-major-breakdown-sec{
	padding-top: 50px;
	padding-bottom: 40px;
	color: #fff;
	position: relative;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}
.fl-future-danger-head h2,
.fl-major-breakdown-head h2{
	margin-bottom: 30px;
}
.future-danger-top-wave,
.major-breakdown-top-wave {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    z-index: 1;
    height: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}
.future-danger-btm-wave,
.major-breakdown-btm-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    height: 25px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}
.fl-major-breakdown-des p:last-child{
	margin-bottom: 0;
}
.fl-secret-powerful-sec{
	padding: 50px 0 45px;
}
.fl-secret-powerful-head{
    margin-bottom: 30px;
}
.fl-secret-powerful-head h2{
	margin-bottom: 5px;
}
.fl-secret-powerful-head h2 span{
	color: #135d9d;
	display: block;
}
.fl-secret-powerful-two-part{}

.fl-secret-powerful-lft-img{
	width: 48.7%;
}
.fl-secret-powerful-rgt-des{
	width: 51.3%;
	padding-left: 31px;
}
.fl-secret-powerful-des p:last-child,
.fl-bank-darling-rgt-des p:last-child{
	margin-bottom: 0;
}
.fl-secret-powerful-dft-img{
	margin-bottom: 30px;
}
.fl-secret-powerful-des{
	padding-bottom: 22px;
}
.fl-legal-credit-sec{
	padding:50px 0 43px;
}
.fl-legal-credit-des-wrp{
	padding: 30px 30px 30px;
	position: relative;
	overflow: hidden;
}
.legal-credit-list{
	padding:25px 30px 30px 25px;
	border: 4px solid #135d9d;
	background: #fff;
	max-width: 890px;
	margin: 0 auto 35px;
	position: relative;
	z-index: 2
}
.fl-legal-credit-des-wrp > i {
    position: absolute;
	display: inline-block;
	max-width: 310px;
	top: 450px;
	right: -65px;
	z-index: 1;
}
.fl-legal-credit-des-wrp > i img{
	width: 100%;
}
.legal-credit-list li {
    position: relative;
    padding-left: 55px;
    margin-bottom: 27px;
    z-index: 2;
}
.legal-credit-list li img{
	position: absolute;
	left: 0;
	top: 1px;
	max-width: 34px;
	width: 100%;
}
.legal-credit-list li:last-child{
	margin-bottom: 0;
}

.legal-credit-grd-wrp {
	text-align: center;
	padding-top: 42px;
}
.legal-credit-grd-wrp ul {
	margin-left: -16px;
	margin-right: -16px;
}
.legal-credit-grd-wrp li {
	width: 33.333%;
	float: left;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 50px;
}
.legal-credit-grd-wrp li:nth-child(3n+1){
	clear: left;
}
.legal-credit-grd span{
	font-family: "OpenSans-SemiBold";
	display: inline-block;
	vertical-align: baseline;
	margin-top: 12px;
}
.legal-credit-grd-wrp li:last-child .legal-credit-grd span{
	margin-top: 0;
}
.legal-credit-grd img{
	display: block;
	margin: auto;
}
.legal-credit-grd-wrp li:last-child{
	width:66.666%;
	text-align: left!important;
}
.legal-credit-grd-wrp li:last-child .legal-credit-grd{
	padding : 105px 0 15px;
}
.fl-legal-credit-des-wrp p:last-child{
	margin-bottom: 0;
}
.fl-legal-ethical-sec{
	padding-bottom: 45px;
}
.fl-legal-ethical-head{
    margin-bottom: 30px;
}
.fl-legal-ethical-head h2{
	margin-bottom: 5px;
}
.fl-legal-ethical-head h2 span{
	color: #135d9d;
	display: block;
}
.legal-ethical-list{
	padding:20px 82px;
	background: #135d9d;
	color: #fff;
	max-width: 890px;
	margin: 0 auto 30px;
}
.legal-ethical-list li {
    position: relative;
    width: 50%;
    float: left;
    padding:0 10px 0 55px;
    margin: 15px 0 15px;
}
.legal-ethical-list li:nth-child(1) {
    width: 58.6%;
}
.legal-ethical-list li:nth-child(2) {
    width: 41.4%;
}
.legal-ethical-list li:nth-child(3) {
    width: 58.6%;
}
.legal-ethical-list li:nth-child(4) {
    width: 41.4%;
}
.legal-ethical-list li img{
	position: absolute;
	left: 0;
	top: 1px;
	max-width: 34px;
	width: 100%;
}
.fl-legal-ethical-des p:last-child{
	margin-bottom: 0;
}
.fl-angle-block-wrp{
    position: relative;
    padding: 35px 0 35px;
}
.fl-angle-block-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 36.5%;
    z-index: 2;
    background-repeat: no-repeat!important;
    background-size: 100% 100% !important;
    background-position: center center!important;
}
.fl-angle-block-img img{
	display: none;
}
.fl-angle-block-des-con {
    max-width: 800px;
    width: 100%;
    border: 5px solid #135d9d;
    position: relative;
    z-index: 1;
    padding: 25px 175px 30px 23px;
}
.angle-block-head{
    padding-bottom: 15px;
}
.angle-block-head h2{
    margin-bottom: 5px;
}
.angle-block-head h2 span{
	color:#135d9d;
	display: block;
}
.angle-block-des p:last-child{
	margin-bottom: 0;
}
.fl-bank-darling-sec .fl-angle-block-wrp .fl-angle-block-des-con {
    padding: 25px 103px 30px 23px!important;
}
.fl-bank-darling-sec .fl-angle-block-wrp .fl-angle-block-img{
    left: 38% !important;
}
.fl-angle-block-sec .fl-angle-block-wrp .fl-angle-block-des-con {
    padding: 25px 58px 30px 23px!important;
}
.fl-angle-block-sec .fl-angle-block-wrp .fl-angle-block-img{
    left: 43% !important;
} 
.fl-angle-block-sec{
	padding-top: 60px;
}
span.fl-txt-line-y-bg {
    font-family: "OpenSans-Bold";
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #000;
    letter-spacing: -0.01px;
}








@media(max-width: 1379px){

}

@media(max-width: 1199px){
	.special-offer-dsc {
	    padding: 80px 40px 90px 0;
	}
	.special-offer-dsc h3 {
	    line-height: 42px;
	}
	.fl-earn-money-head h4 br{
	    display: none;
	}
	.fl-advantage-two-part-wrp li:nth-child(2n+2) .fl-advantage-des {
	    padding-left: 0;
	}
	.fl-advantage-two-part-wrp .fl-advantage-des {
	    padding-right: 0;
	}
	.fl-advantage-sec {
	    padding: 40px 0 55px;
	}
	.fl-secret-powerful-des {
	    padding-bottom: 30px;
	}
} 

@media(max-width: 1023px){
	.fl-prisoner-two-part-wrp li:nth-child(2n+1) .fl-prisoner-img,
	.fl-prisoner-two-part-wrp .fl-prisoner-img{
		width: 100%;
		float: left;
		padding-top: 0;
		margin-bottom: 25px;
	}
	.fl-prisoner-two-part-wrp li:nth-child(2n+1) .fl-prisoner-des,
	.fl-prisoner-two-part-wrp .fl-prisoner-des{
		width:  100%;
		float: left;
		padding-left: 0;
	}
	.fl-good-news-img{
		width: 100%;
		min-height: initial;
	    background-image: none!important;
	}
	.fl-good-news-des{
		width: 100%;
		padding: 30px 20px 25px;
	}
	.fl-upside-down-img img,
	.fl-good-news-img img{
		display: inline-block;
	}
	.fl-admin-intro-lft-img,
	.fl-bank-darling-lft-img{
		width: 100%;
		margin-bottom: 25px;
	}
	.fl-admin-intro-rgt-des,
	.fl-bank-darling-rgt-des{
		width: 100%;
		padding-left: 0;
    	padding-right: 0;
	}
	.fl-earn-money-two-part-wrp li:nth-child(2n+1) .fl-earn-money-img,
	.fl-earn-money-two-part-wrp .fl-earn-money-img{
		width: 100%;
		float: left;
		margin-bottom: 25px;
	}
	.fl-earn-money-two-part-wrp li:nth-child(2n+1) .fl-earn-money-des,
	.fl-earn-money-two-part-wrp .fl-earn-money-des{
		width:  100%;
		float: left;
		padding-right: 0;
		padding-left: 0;
	}
	.fl-earn-money-two-part-wrp li:not(:last-child){
		margin-bottom: 35px;
	}
	.upside-down-xs {
	    display: block;
	    text-align: center;
	}
	.fl-upside-down-des {
	    max-width: initial;
	    padding: 25px 0;
	}
	.fl-upside-down-des-con {
		background-image: none!important;
		padding-left: 20px;
		padding-right: 20px;
	}
	.fl-advantage-two-part-wrp li:nth-child(2n+2) .fl-advantage-img,
	.fl-advantage-two-part-wrp .fl-advantage-img{
		width: 100%;
		float: left;
		margin-bottom: 25px;
		text-align: center;
	}
	.fl-advantage-two-part-wrp li:nth-child(2n+2) .fl-advantage-des,
	.fl-advantage-two-part-wrp .fl-advantage-des{
		width:  100%;
		float: left;
		padding-left: 0;
		padding-right: 0;
	}
	.fl-advantage-two-part-wrp li:not(:last-child){
		margin-bottom: 35px;
	}
	.fl-advantage-two-part-wrp li:nth-child(1) .fl-advantage-img,
	.fl-advantage-two-part-wrp li:nth-child(2) .fl-advantage-img,
	.fl-advantage-two-part-wrp li:nth-child(3) .fl-advantage-img{
		padding-top: 0;
	}
	.fl-secret-powerful-lft-img{
		width: 100%;
		margin-bottom: 25px;
	}
	.fl-secret-powerful-rgt-des{
		width:100%;
		padding-left: 0;
	}
}


@media(max-width: 991px){
	.special-offer-dsc h3 {
	    line-height: 40px;
	    margin-bottom: 20px;
	}
	.special-offer-dsc {
	    padding: 65px 40px 70px 0;
	}
	.fl-major-breakdown-head h2 br,
	.fl-admin-intro-head h2 br{
		display: none;
	}
	.legal-ethical-list {
	    padding: 20px 50px;
	}
	.fl-rent-borrow-head h2 br{
	    display: none;
	}
}

@media(max-width: 767px){
	.special-offer-dsc strong {
	    font-size: 25px;
	}
	.fl-earn-money-head .fl-earn-money-head-innr {
	    padding: 38px 20px 33px;
	}
	.legal-credit-list {
	    padding: 25px 15px;
	    border: 2px solid #135d9d;
	}
	.legal-credit-grd-wrp li:nth-child(3n+1) {
	    clear: initial;
	}
	.legal-credit-grd-wrp li:nth-child(2n+1) {
	    clear: left;
	}
	.legal-credit-grd-wrp li {
	    width: 50%;
	}
	.legal-credit-grd-wrp li:last-child {
	    width: 50%;
	    text-align: left!important;
	}
	.legal-credit-grd-wrp li:last-child .legal-credit-grd {
	    padding: 15px 0 15px;
	}
	.legal-credit-grd-wrp li {
	    margin-bottom: 30px;
	}
	.legal-ethical-list li span br{
	    display: none;
	}
	.legal-ethical-list li:nth-child(1),
	.legal-ethical-list li:nth-child(2),
	.legal-ethical-list li:nth-child(3),
	.legal-ethical-list li:nth-child(4) {
	    width: 100%;
	}
	.legal-ethical-list {
	    padding: 20px 20px;
	}
}

@media(max-width: 639px){
	.special-offer-dsc {
	    padding: 55px 25px;
	    text-align: center;
	}
	.legal-credit-list li img {
	    max-width: 28px;
	}
	.legal-credit-list li {
	    position: relative;
	    padding-left: 40px;
	    margin-bottom: 21px;
	    z-index: 2;
	    font-size: 22px;
	}
	.fl-legal-credit-des-wrp {
	    padding: 30px 19px 30px;
	}
	.legal-credit-grd-wrp li:nth-child(2n+1) {
	    clear: initial;
	}
	.legal-credit-grd-wrp li {
	    width: 100%;
	}
	.legal-credit-grd-wrp li:last-child {
	    width:100%;
	    text-align: left!important;
	}
}
 
@media(max-width: 575px){

}

@media(max-width: 479px){
	.special-offer-dsc {
	    padding: 50px 0px;
	}
	.legal-ethical-list li {
	    margin: 10px 0;
	    padding: 0 10px 0 45px;
	    font-size: 20px;
	}
	.legal-ethical-list li img {
	    max-width: 26px;
	}
}

@media(max-width: 359px){

}












































