.fl-sec-entry-hdr{
	padding-bottom: 45px;
	text-align: center;
}
.fl-sec-entry-hdr h2{
	margin-bottom: 20px;
}
.fl-sec-entry-hdr h2 span{
	display: block;
	color: #135d9d;
}

.dft-multiline-bg span {
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
    font-family: "OpenSans-Bold";
    color: #000;
    padding: 0 18px 3px 15px;
    
}
.dft-multiline-bg{
	padding-bottom: 30px;
}
.dst-ml-15 span{
    margin-left: -15px;
}
.dft-text-module-20{
    margin-left: -20px;
}
.dst-mll-16{
	margin-left: -16px;
	margin-right: -16px;
}
.dft-multiline-bg p {
    margin-bottom: 0;
}
.dft-text-module .dft-multiline-bg p:last-child {
    padding-bottom: 22px;
}

.cs-fill-blanks-sec{
	padding-top: 40px;
}
.cs-fill-blanks-grd-items ul{
	margin: 0 -15px;
	text-align: center;
	padding-bottom: 10px;
}
.cs-fill-blanks-grd-items ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 30px;
}
.cs-fill-blanks-grd-item{
	text-align: center;
	padding: 17px 30px 10px;
	background: #fff;
	position: relative;
	width: 260px;
	min-height: 295px;
}
.cs-fill-blanks-grd-item:after{
	content: "";
	position: absolute;
	left: 100%;
	width: 7px;
	background: rgba(77,77,77,.5);
	top: 4px;
	bottom: 0;
}
.cs-fill-blanks-grd-item:before{
	content: "";
	position: absolute;
	height: 7px;
	background: rgba(77,77,77,.5);
	left: 4px;
	right: -7px;
	top: 100%;
}
.cs-fill-blanks-grd-item div{
	padding-bottom: 3px;
	min-height: 205px;
}
.cs-fill-blanks-grd-item strong{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: normal;
	font-family: "OpenSans-SemiBold";
	min-height: 60px;

}

.cs-fill-blanks-sec-des{
	position: relative;
}
.cs-fill-blanks-sec-des-inr{
	position: relative;
	z-index: 2;
}
.cs-fill-blanks-sec-rgt-circles{
	position: absolute;
	width: 319px;
	height: 319px;
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
	z-index: 1;
	right: -75px;
	bottom: 135px;
}
.cs-fill-blanks-sec-lft-circles{
	position: absolute;
	width: 312px;
	height: 326px;
	background-size: 100% auto!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	z-index: 1;
	left: 0;
	bottom: 141px;
}

.thats-not-all-sec-inr{
	background: #fff;
	padding: 0 30px 0;
}
.fl-sec-entry-hdr-blue{
	text-align: center;
	padding: 35px 10px 35px;
	margin-bottom: 35px;
	position: relative;
	border-radius: 7px 7px 0 0;
	margin-bottom: 45px;
}
.mlr-30{
	margin-left: -30px!important;
	margin-right: -30px!important;
}
.fl-sec-entry-hdr-blue-wave-img{
	position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    z-index: 1;
    height: 15px;
    background-position: center bottom!important;
    background-repeat: repeat-x!important;
}
.fl-sec-entry-hdr-blue h2{
	margin: 0;
	color: #fff;
}

.thats-not-all-sec-row-imgs{
	text-align: center;
}
.thats-not-all-sec-row-imgs ul{
	padding-bottom: 20px;
}
.thats-not-all-sec-row-imgs ul li{
	padding-bottom: 5px;
}