.fl-sec-entry-hdr{
	padding-bottom: 45px;
	text-align: center;
}
.fl-sec-entry-hdr h2{
	margin-bottom: 20px;
}
.fl-sec-entry-hdr h2 span{
	display: block;
	color: #135d9d;
}

.dft-multiline-bg span {
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
    font-family: "OpenSans-Bold";
    color: #000;
    padding: 0 18px 3px 15px;
    
}
.dft-multiline-bg{
	padding-bottom: 30px;
}
.dst-ml-15 span{
    margin-left: -15px;
}
.dft-text-module-20{
    margin-left: -20px;
}
.dst-mll-16{
	margin-left: -15px;
	margin-right: -15px;
}
.dft-multiline-bg p {
    margin-bottom: 0;
}

.cs-fill-blanks-sec{
	padding-top: 40px;
}
.cs-fill-blanks-grd-items ul{
	margin: 0 -15px;
	text-align: center;
	padding-bottom: 10px;
}
.cs-fill-blanks-grd-items ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 30px;
}
.cs-fill-blanks-grd-item{
	text-align: center;
	padding: 17px 30px 10px;
	background: #fff;
	position: relative;
	width: 260px;
	min-height: 295px;
}
.cs-fill-blanks-grd-item:after{
	content: "";
	position: absolute;
	left: 100%;
	width: 7px;
	background: rgba(77,77,77,.5);
	top: 4px;
	bottom: 0;
}
.cs-fill-blanks-grd-item:before{
	content: "";
	position: absolute;
	height: 7px;
	background: rgba(77,77,77,.5);
	left: 4px;
	right: -7px;
	top: 100%;
}
.cs-fill-blanks-grd-item div{
	padding-bottom: 3px;
	min-height: 205px;
}
.cs-fill-blanks-grd-item strong{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: normal;
	font-family: "OpenSans-SemiBold";
	min-height: 60px;

}

.cs-fill-blanks-sec-des{
	position: relative;
}
.cs-fill-blanks-sec-des-inr{
	position: relative;
	z-index: 2;
}
.cs-fill-blanks-sec-rgt-circles{
	position: absolute;
	width: 319px;
	height: 319px;
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
	z-index: 1;
	right: -75px;
	bottom: 135px;
}
.cs-fill-blanks-sec-lft-circles{
	position: absolute;
	width: 312px;
	height: 326px;
	background-size: 100% auto!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	z-index: 1;
	left: 0;
	bottom: 141px;
}

.thats-not-all-sec-inr{
	background: #fff;
	padding: 0 30px 2px;
	-webkit-box-shadow: 0 4px 9px 0 rgba(210, 210, 210, 1);
	-moz-box-shadow: 0 4px 9px 0 rgba(210, 210, 210, 1);
	box-shadow: 0 4px 9px 0 rgba(210, 210, 210, 1);
	margin-bottom: 85px;
}
.fl-sec-entry-hdr-blue{
	text-align: center;
	padding: 35px 10px 35px;
	margin-bottom: 35px;
	position: relative;
	border-radius: 7px 7px 0 0;
	margin-bottom: 45px;
}
.mlr-30{
	margin-left: -30px!important;
	margin-right: -30px!important;
}
.fl-sec-entry-hdr-blue-wave-img{
	position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    z-index: 1;
    height: 15px;
    background-position: center bottom!important;
    background-repeat: repeat-x!important;
}
.fl-sec-entry-hdr-blue h2{
	margin: 0;
	color: #fff;
}

.thats-not-all-sec-row-imgs{
	text-align: center;
}
.thats-not-all-sec-row-imgs ul{
	padding-bottom: 20px;
}
.thats-not-all-sec-row-imgs ul li{
	padding-bottom: 5px;
}

.thats-not-all-sec-list-area{
	-webkit-box-shadow: 0 1px 9px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 1px 9px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 1px 9px 0 rgba(180, 179, 179, 1);
    padding: 45px 41px 25px 45px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.corner-dots-img {
    position: absolute;
    right: -114px;
    top: -117px;
    width: 319px;
    height: 319px;
}

.thats-not-all-sec-list-area ul li{
	padding: 0 0 25px 35px;
	position: relative;
}
.thats-not-all-sec-list-area ul li img{
	position: absolute;
	left: 0;
	top: 0;
}
.cs-angle-grd-img-sec{
	padding-bottom: 90px;
}
.cs-angle-grd-img-sec-inr{
	border: 5px solid #000000;
	padding: 20px 25px 2px;
	position: relative;
}
.cs-angle-grd-img-col span img{
	width: 100%;
}

.cs-angle-grd-des-col{
	float: left;
	width: 50%;
}
.cs-angle-grd-img-col {
    float: right;
    width: 64.5%;
    position: absolute;
    top: -35px;
    bottom: -45px;
    right: -11px;
}
.cs-angle-grd-img-col span{
	display: block;
}
.cs-angle-grds-hdr{
	text-align: center;
	padding-bottom: 20px;
}
.cs-angle-grds-hdr h2{
	font-family: "OpenSans-BoldItalic";
	margin-bottom: 5px;
}
.dft-multiline-span-bg-15 span{
	margin-left: -15px;
}
.cs-double-promise-sec{
	padding-bottom: 35px;
}
.cs-double-promise-sec-lft-img{
	padding-top: 45px;
}

.cs-double-money-back-sec{
	color: #fff;
	padding: 40px 0 20px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	position: relative;
}
.cs-double-money-back-sec-hdr{
	text-align: center;
	padding-bottom: 30px;
}

.cs-double-money-back-sec-top-wave {
    position: absolute;
    left: 0;
    right: 0;
    top: -28px;
    height: 30px;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    background-size: cover!important;
}
.cs-double-money-back-sec-btm-wave{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    height: 26px;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    background-size: cover!important;
}

.cs-promise-me-one-sec{
	padding: 60px 0 20px;
}
.cs-promise-me-one-sec-grd-img-2 img{
	margin-top: -10px;
}

.cs-bdr-grds-sec-inr{
	border: 5px solid #000000;
	background: #fff;
	padding: 40px 30px 5px;
}
.cs-bdr-grds-sec-img-01 img{
	margin-left: -10px;
	margin-top: -85px;
}


.cs-cart-btns-sec{
	padding: 10px 0 25px;
}
.fl-add-to-cart-btn{
	padding-top: 30px;
	padding-bottom: 30px;
}

.fl-add-to-cart-btn a{
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: baseline;
}

.cs-cart-btns-top-sec{
	padding: 50px 0 0;
}
.fl-txt-underline{
	text-decoration: underline;
}
.cs-cart-btns-top-sec-img{
	padding-top: 30px;
}
.cs-cart-btns-top-sec-img{
	margin-left: -15px;
}
.cs-cart-btns-top-sec-img img{
	width: 100%;
}


.cs-fasted-sec{
	position: relative;
	padding: 30px 0 10px;
	color: #fff;
	background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    margin-top: 65px;
    margin-bottom: 5px;
}
.cs-fasted-sec-top-wave {
    position: absolute;
    left: 0;
    right: 0;
    top: -27px;
    height: 39px;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    background-size: cover!important;
}
.cs-fasted-sec-btm-wave{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    height: 26px;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    background-size: cover!important;
}
.cs-fasted-sec-hdr{
	text-align: center;
	padding-bottom: 15px;
}
.cs-fasted-sec .container{
	max-width: 1200px;
}

.cs-numbr-titles-area{
	padding: 0 41px 0 30px;
}
.cs-numbr-title{
	padding: 10px 30px 15px 155px;
	background: #fff;
	border-radius: 30px;
	color: #000;
	display: inline-block;
	vertical-align: baseline;
	font-family: 'OpenSans-Regular';
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
}
.cs-numbr-title img{
	position: absolute;
	left: 40px;
	top: -34px;
}


.fl-footer-wrap {
    color: #c3ced7;
    text-align: center;
    padding: 70px 0 75px;
    font-size: 14px;
    line-height: 19px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
.fl-footer-wrap p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
    font-family: "PTSerif-Bold";
    color: #e2e9ef;
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
}
.fl-ftr-nav ul li a:hover,
.fl-add-to-cart-btn a:hover{
    opacity: .7;
}

.fl-copyright{
    padding-bottom: 30px;
}
.fl-copyright p{
    font-size: 14px;
}
.fl-ftr-nav ul li{
    padding: 0 10px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #77818a;
    padding: 0 10px;
}